{% extends "layout.html" %}

{% block content %}
 <article>
 	<h2>What is it?</h2>
 	<p>This is a remix of my own twitter timeline. I generally keep my twitter account locked. So, its like a weird window into what I'm saying, but not exactly what I'm saying. You can visit it (me?) here: <a href="http://twitter.com/n_remixed" target="_blank">@n_remixed</a>.</p>
  </article>

   <article>
  	<h2>How To Use It</h2>
  <p>You don't. It just tweets randomly a few times a day. Sometimes there is a photo culled from my flickr archives. Sometimes there is not. It operates off a markov based library, so its trying to sound like me. Which is sorta weird. I've tried to get it to use a large timeline sample, so its not just trying to remix the latest 200. In a way this is a remix of a lot of the processes I used to make the <a href="computerfreud.tumblr.com" target="_blank">tumblr freud bot</a> as well.</p>
  </article>

  <article>
  	<h2>Why Make This?</h2>
  	<p>I had an assignment called remix. I figured the best thing to remix was myself. I like the idea that I could just be a bot. So I made myself into a bot. But there's also some weird questions about identity in there. Like, all my tweets, every last one, for 10 years...is 16mb. That's pretty small, considering I poured a lot of feelings / brains, etc into the random twitter void. It makes me think about how small our Big Data files really are.<p>
  </article>

  <article>
  	<h2>Who Made It?</h2>
  	<p>Made by <a href="http://nadinelessio.com" target="_blank">NL</a>.</p>
  </article>
   
{% endblock %}